---
title: Projects
layout: default
---
<h1>Projects</h1>
<br><br>
<div id="project-list">
{% for project in site.projects %}
	<div class="project">
		{% if project.feature_img %}
			<div class="img-cont">
		  		<img src="{{ project.feature_img }}" alt="{{ project.name }}">
			</div>
		{% endif %}
		<h2>{{ project.title }}</h2>
		<p>{{ project.description }}</p>
		{% if project.github %}
			<a href="https://github.com/{{ project.github }}" target="_blank" class="fab fa-github"></a>
		{% endif %} 
		<a href="{{project.link}}" class="fas fa-link"></a>
	</div>
{% endfor %}
</div>
