---
title: Projects
layout: default
---
<div id="project-list">
<h1>Projects</h1>
{% for project in site.projects %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == "even" %}
      <figure class="project right" data-aos="fade-left">
        <figcaption>
          <a href="{{ project.url }}"><h2>{{ project.name }}</h2></a>
          <h3>{{ project.description }}</h3>
          <br>  
          <a href="{{ project.url }}" class="more-button">View</a>
          {% if project.link %}
            <a href="{{ project.link }}" class="more-button" target="_blank">View Website</a>    
            <br><br> 
            {% endif %}
            {% if project.github %}
                <a href="{{ project.github }}" style="background: #6807f9" class="more-button" target="_blank">Github Repository</a>
            {% endif %}
        </figcaption>
        <img src="{{ project.feature_img }}" alt="{{ project.name }}">
        </figure>
      {% else %}
        <figure class="project left" data-aos="fade-right">
          <img src="{{ project.feature_img }}" alt="{{ project.name }}">
          <figcaption>
          <a href="{{ project.url }}"><h2>{{ project.name }}</h2></a>
            <h3>{{ project.description }}</h3>
            <br>
            <a href="{{ project.url }}" class="more-button">View</a>
            {% if project.link %}
              <a href="{{ project.link }}" class="more-button" target="_blank">Live</a>
              <br><br>               
            {% endif %}
            {% if project.github %}
                <a href="{{ project.github }}" style="background: #6807f9" class="more-button" target="_blank">Github Repository</a>
            {% endif %}
        </figure>
      {% endif}   
{% endfor %}
{% endfor %}
</div>