
<nav id="nav">
    <a href="/">
        {% if site.logo %}
            <img src="{{ site.logo }}" alt="{{ site.title }} logo" id="logo">
        {% else %}
            <h1 id="logo">{{ site.title }}</h1>
        {% endif %}
    </a>
    <div class="Burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="links-container">
                {% for item in site.data.navigation %}
                    <a class="nav-links hover-underline" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
                        {{ item.name }}
                    </a>
                {% endfor %}
            </div>
    <div class="overlay">
    
</div>
</nav>