a {
    text-decoration: none;
}
p, li  {
    font-family: $text-font;
    font-size: 17px;
}
h3, h2, h1 {
    font-family: $bold-font;
    font-weight: normal;
    margin: 0;
}
button {
    font-family: $bold-font
}

figure img {
    height: inherit;
}
a {
    color: $pale_violet;
}
.fa {
	font-size: 30px;
	padding: 10px;
	width: 30px;
	text-decoration: none;
	transition: all 1s;
    color: #504658
}
.fa:hover {
    opacity: 0.65;
    box-shadow: 0 0 1px 7px #c6cbef
}
.page-content {
    width: 80%;
    margin: auto;

}
.tag {
     color: #8186d5;
     font-family: Titillium Web, sans-serif;
     padding: 1px 3px;
     background: #f9fce1;
}
blockquote {
	border-left-width: 4px;
    margin: 15px auto;
    border-left: 2px solid #2A2F36;
    padding: 3px 0 3px 15px;
    font-weight: 300;
    letter-spacing: -.02em;
    line-height: 1.6;
    width: 96%;
}
blockquote p {
    font-size: 25px;
}
html {
    font-size: 0.8rem;
  }