// typography
html {
    font-size: 0.8rem;
  }

a {
    text-decoration: none;
    color: $pale_violet;
}
p, li  {
    font-family: $text-font;
    font-size: 17px;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 19px;
}
h5 {
    font-size: 18px;
}
h6, h5, h4, h3, h2, h1 {
    font-family: $bold-font;
    font-weight: normal;
    margin: 0;
}

blockquote {
	border-left-width: 4px;
    margin: 15px 0;
    border-left: 2px solid #2A2F36;
    padding: 3px 0 3px 15px;
    font-weight: 300;
    letter-spacing: -.02em;
    line-height: 1.6;
    width: 96%;
}
blockquote p {
    font-size: 25px;
}

button {
    font-family: $bold-font
}

figure img {
    height: inherit;
}

// font-awesome icons
.fa {
	font-size: 30px;
	padding: 10px;
	width: 30px;
	text-decoration: none;
	transition: all 1s;
    color: #504658
}
.fa:hover {
    opacity: 0.65;
    box-shadow: 0 0 1px 4px #c6cbef
}

// main page content
.page-content {
    width: 80%;
    margin: auto;
    img {
        max-width: 100%;
    }
}
// tags for posts
.tag {
     color: #8186d5;
     font-family: Titillium Web, sans-serif;
     padding: 1px 3px;
     font-size: 15px;
     background: #f9fce1;
}

// Learn more, View and Live buttons
.more-button {
    background: $dark_blue;
    padding: 5px;
    border: none;
    font-size: 20px;
    color: white;
    font-family: $bold-font
}
body, html {
    padding: 0;
    margin: 0;
}

// From Animate.css
// 404 effect
@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .shake {
    animation-name: shake;
  }
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  