// mobile menu navigation overlay
.overlay {
    height: 100%;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    opacity: 0;
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: opacity 0.5s
  }

// this class change the properties of the navigation elements when the burger is clicked
.overlay-open {
    .overlay {
      opacity: 1;
      width: 100%;
      display: block;
    }
    .Burger span {
      background: #ffaaa5;
    }
    #nav .nav-links {
      opacity: 1;
	  display: block;
    }
  }

// mobile screen
@media only screen and (max-width: 450px) {
    .content {
        flex-direction: column;
        width: 100%;
        .projects, .posts {
            width: 90%;
            text-align: center;
            margin: auto;
            padding: 0;
            margin-top: 20px;
        }
        .projects img {
            width: 100%;
        }
    }
    // list of projects 
    #project-list {
        .project {
            flex-direction: column;
			width: 100%;
        }
    }
    #nav .nav-links {
        opacity: 0;
        color: #818181;
        padding: 8px;
        transition: 0.5s;
    }
    .content-container {
      width: 100%;
    }    
    .page-content {
      width: 90%;
    }
    #nav {
      width: 90%;
    }
    #contact {
      width: 90%;
      input, textarea {
        width: 80%;
      }
    }
    .fa-comments {
      display: none;
    }
	// responsive navigation
    #links-container {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 25%; /* 25% from the top */
        width: 130px; /* 100% width */
        text-align: center; /* Centered text/links */
        margin:auto;

    }
	#nav .nav-links {
		display: none;
		opacity: 0;
	}
}

