@media only screen and (max-width: 450px) {
    .content {
        flex-direction: column;
        width: 100%;
        .projects, .posts {
            width: 90%;
            text-align: center;
            margin: auto;
        }
        .projects img {
            width: 100%;
        }
    }
    #project-list {
        .project {
            flex-direction: column;
        }
        .project, img, figcaption {
            width: 100%;
        }
    }

    #links-container {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 25%; /* 25% from the top */
        width: 100px; /* 100% width */
        text-align: center; /* Centered text/links */
        margin:auto;
        
    }
    #nav .nav-links {
        opacity: 0;
        color: #818181;
        padding: 8px;
        transition: 0.5s;
    }
}