// navbar
#nav {
  width:80%;
  margin:auto;
  text-align: right;
  font-size: 1.2rem;
  .nav-links {
    padding: 5px;
    font-size: 25px;
    font-family: $bold_font;
    opacity: 1;
    color: black;
  }
  #logo {
    float: left;
  }
}


// Burger menu on mobile
.Burger {
  z-index: 1;
  position: absolute;
  top: 12px;
  right: 25px;
  display: block;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all cubic-bezier(.62, .28, .23, .99) .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    display: block;
    position: absolute;
    height: .2rem;
    width: 50%;
    background: black;
    opacity: 1;
    transform: rotate(0deg);
    transition: all .25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 .9rem .9rem 0;
    }

    &:nth-child(odd) {
      left: 0;
      border-radius: .9rem 0 0 .9rem;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: .9rem;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 1.8rem;
    }
  }

  .is-open & {
    span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: .2rem;
        top: .7rem;
      }

      &:nth-child(2) {
        left: calc(50% - .2rem);
        top: .7rem;
      }

      &:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      &:nth-child(5) {
        left: .2rem;
        top: 1.6rem;
      }

      &:nth-child(6) {
        left: calc(50% - .2rem);
        top: 1.6rem;
      }
    }
  }
    @media (min-width: 450px) {
        display: none;
  }
}

// menu hover effect
.hover-underline:hover::before, .hvr-underline-from-center:focus::before, .hvr-underline-from-center:active::before {
	left: 0;
	right: 0;
}
.hover-underline::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	top: 31px;
	height: 2px;
	background: black;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hover-underline {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
