.project {
    display: flex;
    margin: auto;
    justify-content: space-between;    
}
.date {
    color: $pale_violet
}
#project-list {
    figure {
    width: 80%;
    margin: 20px 0px;
    }
    h3 {
        color: black;
    }
    img {
        width: 50%;
        padding: 20px 0px;
    }
    .left {
        float: left;
    }
    figcaption {
        width: 30%; 
    }
    .right {
        float: right;
    }
}
.post-list {
    list-style-type: none;
    padding: 0;
}