// Projects css
.project {
	width: 50%;
	height: 300px;
	.img-cont {
		height: 100px;
		width: 100px;
		position: relative;
	}
	img {
	    position: absolute;
   		top: 0;
    	bottom: 0;
		margin: auto;
		z-index: -1;
	}
}
.project-masthead {
    text-align: center;
}
// "/projects" page
#project-list {
	display: flex;
	flex-wrap:wrap;
    justify-content: space-between;    
    figure {
    width: 80%;
    margin: 20px 0px;
    }

    .left {
        float: left;
    }
    figcaption {
        width: 30%; 
    }
    .right {
        float: right;
    }
}

// posts css rules
.post-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    figure {
        margin: 0px;
    }

}

.cat-title {
        color: #f6d186;
}
// both
.date {
    color: $orange;
    font-family: $text_font;
}
.content-container {
    width: 75%;
    margin: auto;
    img { margin: auto; display: block}
}
.web-links {
    display: flex;
    width: 100%;
    justify-content: center;
    a {
        margin: 8px;
    }
}

.categories {
	display: flex;
}
