// Projects css
.project {
    display: flex;
    margin: auto;
    justify-content: space-between;    
}
.project-img {
    max-width: 70%;
    margin: auto;
    min-width: 50%;
    max-height: 450px;
}
.project-masthead {
    text-align: center;
}
// "/projects" page
#project-list {
    figure {
    width: 80%;
    margin: 20px 0px;
    }
    h3 {
        color: black;
    }
    img {
        width: 50%;
        padding: 20px 0px;
    }
    .left {
        float: left;
    }
    figcaption {
        width: 30%; 
    }
    .right {
        float: right;
    }
}

// posts css rules
.post-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    li {
        width: 50%;
    }
    img {
        padding: 40px;
        max-height: 300px;
    }
    /*
    .left {
        height: 500px;
    }
    .right {
        height: 350px;
    }*/
}

// both
.date {
    color: $pale_violet;
    font-family: $text_font;
}
.content-container {
    width: 75%;
    margin: auto;
}
.web-links {
    display: flex;
    width: 100%;
    justify-content: center;
    a {
        margin: 8px;
    }
}