<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="nav">
		{% if page.url != "/" %}
	        {% include header.html %}
		{% endif %}
    </div>
    <br><br><br><br>
    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>
    <br>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/assets/javascript/app.js"></script>
     <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript> 
  </body>
</html>
