---
layout: default
title: home
---
<div class="mast" data-aos="fade-down">
    <img class="avatar" src="{{ site.avatar }}" alt="profile">
    <br>
    {% if site.logo %}
        <img src="{{ site.logo }}" alt="{{ site.title }} logo">
    {% else %}
        <h1>{{ site.title }}</h1>
    {% endif %}
    <p>{{ site.bio }}</p>
    {% include social.html %}
    <br>
</div>
<br>
<div class="content">
    <div class="posts">
        <h2>Posts</h2><br>
        {% for post in site.posts limit: 2 %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }} - {{ post.date | date: site.date_format }}</a></h2>
                {% for tag in post.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
                <p>{{ post.excerpt }}</p>
            </li>
        {% endfor %}
        {% if site.posts.size > 2 %}
            <a class="more-button" href="/blog" >See More</a>
        {% endif %}
    </div>
    <br>
    <div class="projects">
    <h2>Projects</h2><br>
        {% for project in site.projects limit: 2 %}
        
            <a href={{ project.url }}>
                <figure >
                    <img src="{{ project.feature_img }}" alt="{{ project.name }}">
                    <figcaption>
                        <h2>{{ project.name }}</h2>
                        <h3>{{ project.description }}</h3>
                    </figcaption>
                </figure>
            </a>
            <br>
        {% endfor %}
        {% if site.projects.size > 2 %}
            <a class="more-button" href="/projects">See More</a>
        {% endif %}
        
    </div>
</div>