---
layout: default
title: home
---
<div class="mast" data-aos="fade-down">
    <img class="avatar" src="{{ site.avatar }}" alt="profile">
    <br>
    {% if site.logo %}
        <img src="{{ site.logo }}" alt="{{ site.title }} logo">
    {% else %}
        <h1>{{ site.title }}</h1>
    {% endif %}
    <p>{{ site.bio }}</p>
    {% include social.html %}
    <br>
</div>

<br>
<div class="content">
	<div id="links-container" style="text-align: center; width: 100%">
		{% for item in site.data.navigation %}
			<a class="nav-links hover-underline" href="{{ item.link }}">
				{{ item.name }}
			</a>
		{% endfor %}
	</div>
</div>

<script>
	/*
	let links =	document.querySelectorAll(".nav-links");
	links.forEach(function(elem) {
		elem.addEventListener("click", function(e) {
			e.preventDefault;
			document.body.classList.add("fade-anim");
			setTimeout(function() { window.location = elem.id }, 1000);
		})
	}); */
</script>
