---
layout: default
---
<div class="content-container">
<br>
<h1>{{ page.title }}</h1>  
{% for tag in page.tags %}
  <span class="tag">{{ tag }}</span>
{% endfor %}
<p class="date">{{ page.date | date_to_string }}{% if page.author %} - {{ page.author }}{% endif %}</p>
{% capture words %}
  {{ page.content | number_of_words | minus: 250 }}
{% endcapture %}
{% unless words contains "-" %}
<p>{{ words | plus: 250 | divided_by: 180 | append: " minute read" }}</p>
{% endunless %}
{{ content }}
<br>
<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css" />
<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
<applause-button style="width: 58px; height: 58px" color="#5d5b6a"/>
<script src="https://utteranc.es/client.js"
        repo="Uzay-G/uzpg-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}
</article>

<script src="/assets/javascript/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</div>
