---
layout: default
---
<div class="content-container">
<br>
<h1>{{ page.title }}</h1>  
{% for tag in page.tags %}
  <span class="tag">{{ tag }}</span>
{% endfor %}
<p class="date">{{ page.date | date_to_string }} - {{ page.author }}</p>
{% capture words %}
  {{ page.content | number_of_words | minus: 250 }}
{% endcapture %}
{% unless words contains "-" %}
  {{ words | plus: 250 | divided_by: 180 | append: " minute read" }}
{% endunless %}
{{ content }}
<br>
{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}
</div>