---
layout: default
---
<div class="content-container">
<br>
<h1>{{ page.title }}</h1>  
{% for tag in page.tags %}
  <span class="tag">{{ tag }}</span>
{% endfor %}
<p class="date">{{ page.date | date_to_string }}{% if page.author %} - {{ page.author }}{% endif %}</p>
{% capture words %}
  {{ page.content | number_of_words | minus: 250 }}
{% endcapture %}
{% unless words contains "-" %}
<p>{{ words | plus: 250 | divided_by: 180 | append: " minute read" }}</p>
{% endunless %}
{{ content }}
<br>
<hr id="bottom" style="visibility: hidden;">
<br>
<button class="fa fa-comments" onClick="commentTo()"></button>

<script src="https://utteranc.es/client.js"
        repo="Uzay-G/uzpg-comments"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
<applause-button color="#5d5b6a"/>


{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}

</article>
<script src="/assets/javascript/highlight.pack.js">
  </script>
<script>
  hljs.initHighlightingOnLoad();
  function commentTo() {
    document.getElementById('bottom').scrollIntoView();
    document.querySelector(".fa-comments").style.opacity = "0"
  }
  
  </script>
</div>
