---
layout: default
---
<br><br>

<div class="content-container">

    <div class="project-masthead">
        <h1>{{ page.name }}</h1> 
        {% if page.dates %}
            <h3 class="date">{{ page.dates }}</h3>
        {% endif %}
        <div class="web-links">
            {% if page.link %}
                <a href="{{ page.link }}" class="more-button" target="_blank">Website</a>
            {% endif %}
            {% if page.github %}
                    <a href="{{ project.github }}" style="background: #6807f9" class="more-button" target="_blank">Github Repository</a>
            {% endif %} 
        </div>
        {% for tag in page.tags %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
        <br><br>
        <img class="project-img" src="{{ page.feature_img }}" alt="{{ page.name }}">
        <applause-button color="#5d5b6a"/>
    </div>

    {{ content }}
</div>
